<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "css/style.css" %}" type="text/css" media="all">
    <link rel="stylesheet" href="{% static "css/font-awesome.css" %}">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
    <div id="page" class="page">
        <div class="main-banner bg bg1" id="home" style="">
            <header class="header">
                <div class="container-fluid px-lg-5">
                <div class="row">
                    <div class="side-bar col-lg-3">
                        Django School
                    </div>
                </div>

                </div>
            </header>
        <section>
            <div class="left-ads-display col-lg-9">

                        <div class="row">
                            {% for movie in movie_list %}




                            <div class="col-md-4 product-men">
                                <div class="product-shoe-info editContent text-center mt-lg-4">
                                    <div class="men-thumb-item">
                                        <img src="{{ movie.poster.url }}" alt="" class="img-fluid">
                                    </div>
                                    <div class="item-info-product">
                                        <h4 class="">
                                            <a href="" class="editContent">
                                                {{ movie.title }}
                                            </a>
                                        </h4>
                                        <div class="product_price">
                                            <div class="grid-price">
                                                <span class="money EditContent">
                                                    {{ movie.tagline }}
                                                </span>
                                            </div>
                                        </div>
                                        <ul class="stars">
                                            <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star" aria-hidden="true"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star-half-o" aria-hidden="true"></span></a></li>
                                            <li><a href="#"><span class="fa fa-star-o" aria-hidden="true"></span></a></li>

                                        </ul>

                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
        </section>
        </div>
    </div>

    <div class="cpy-right py-3">
        <div class="container">
            <div class="row">
                <p class="col-md-10 text-left">@ 2020 DjangoMuvie. All rights reserved | Design by
                    <a href="">Django School.</a>
                </p>
                <a href="#home" class="move-top text-right col-md-2">
                    <span class="fa fa-long-arrow-up" aria-hidden="true"></span>
                </a>
            </div>
        </div>
    </div>


    <div></div>
</body>
</html>